springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui
    operationsSorter: method
    tagsSorter: alpha
    defaultModelsExpandDepth: -1
  packages-to-scan: com.example.Ev.System.controller
  paths-to-exclude: /ws/**, /error
